<a href="https://colab.research.google.com/github/91472/---.-./blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# устанавливаем библиотеку pymorphy2[fast] для морфологического анализа слов
pip install pymorphy2[fast]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymorphy2[fast]
  Downloading pymorphy2-0.9.1-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 2.5 MB/s
Collecting docopt>=0.6
  Downloading docopt-0.6.2.tar.gz (25 kB)
Collecting pymorphy2-dicts-ru<3.0,>=2.4
  Downloading pymorphy2_dicts_ru-2.4.417127.4579844-py2.py3-none-any.whl (8.2 MB)
     |████████████████████████████████| 8.2 MB 10.1 MB/s
Collecting dawg-python>=0.7.1
  Downloading DAWG_Python-0.7.2-py2.py3-none-any.whl (11 kB)
Collecting DAWG>=0.8
  Downloading DAWG-0.8.0.tar.gz (371 kB)
     |████████████████████████████████| 371 kB 51.3 MB/s
Building wheels for collected packages: DAWG, docopt
  Building wheel for DAWG (setup.py) ... done
  Created wheel for DAWG: filename=DAWG-0.8.0-cp37-cp37m-linux_x86_64.whl size=858884 sha256=f3a156c8f27006c695b73864e965d6d0eb5d63b56bba59fc96c8ea16bd62ab7c
  Stored in directory: /root/.cache/pip/wheels/85/51/a4/2de41ff197786537075027c27b479a38da92f50abc86634445
  Building wheel for docopt (setup.py) ... done
  Created wheel for docopt: filename=docopt-0.6.2-py2.py3-none-any.whl size=13723 sha256=4124773b74dfb748355a21a8d7cab63deb28f17c57ff3ff947f5cbb8dd1bbd7b
  Stored in directory: /root/.cache/pip/wheels/72/b0/3f/1d95f96ff986c7dfffe46ce2be4062f38ebd04b506c77c81b9
Successfully built DAWG docopt
Installing collected packages: pymorphy2-dicts-ru, docopt, dawg-python, pymorphy2, DAWG
Successfully installed DAWG-0.8.0 dawg-python-0.7.2 docopt-0.6.2 pymorphy2-0.9.1 pymorphy2-dicts-ru-2.4.417127.4579844

In [4]:
# устанавливаем русский словарь для библиотеки pymorphy2
pip install -U pymorphy2-dicts-ru

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymorphy2-dicts-ru in /usr/local/lib/python3.7/dist-packages (2.4.417127.4579844)

In [7]:
# загружаем необходимые библиотеки
import pymorphy2     # для морфологического анализа слов
import pandas as pd  # для работы с исходным файлом .csv
import re            # для работы с регулярными выражениями

In [8]:
# загружаем в переменную df данные из исходного файла test_data.csv (создаем pandas dataframe из данных файла test_data.csv)
df = pd.read_csv('/content/test_data.csv')
df

,dlg_id,line_n,role,text
0,0,0,client,Алло
1,0,1,manager,Алло здравствуйте
2,0,2,client,Добрый день
3,0,3,manager,Меня зовут ангелина компания диджитал бизнес з...
4,0,4,client,Ага
...,...,...,...,...
475,5,138,manager,По поводу виджетов и с ними уже обсудите конкр...
476,5,139,manager,Все я вам высылаю счет и с вами на связи если ...
477,5,140,client,Спасибо спасибо
478,5,141,client,Да да тогда созвонимся ага спасибо вам давайте
479,5,142,manager,Ну до свидания хорошего вечера

In [9]:
# в соответствии с заданием дополним таблицу следующими столбцами:
# greeting - напротив реплики с приветствием, для меток реплик с приветствием (принимает значение True, если обнаружено приветствие, иначе пустота)
# farewell - напротив реплики с прощанием, для меток реплик с прощанием (принимает значение True, если обнаружено приветствие, иначе пустота)
# name - имя менеджера, напротив реплик, где менеджер представил себя (принимает значение имени менеджера, если оно обнаружено, иначе путота)
# company - название компании, напротив реплик, где менеджер представил компанию (принимает значение названия компании, если оно обнаружено, иначе путота)
# kpi - показатель менеджера для каждого диалога (принимает значение True, если менеджер поздоровался и попрощался, иначе False)
df['greeting'] = ''
df['farewell'] = ''
df['name'] = ''
df['company'] = ''
df['kpi'] = ''
df

,dlg_id,line_n,role,text,greeting,farewell,name,company,kpi
0,0,0,client,Алло,,,,,
1,0,1,manager,Алло здравствуйте,,,,,
2,0,2,client,Добрый день,,,,,
3,0,3,manager,Меня зовут ангелина компания диджитал бизнес з...,,,,,
4,0,4,client,Ага,,,,,
...,...,...,...,...,...,...,...,...,...
475,5,138,manager,По поводу виджетов и с ними уже обсудите конкр...,,,,,
476,5,139,manager,Все я вам высылаю счет и с вами на связи если ...,,,,,
477,5,140,client,Спасибо спасибо,,,,,
478,5,141,client,Да да тогда созвонимся ага спасибо вам давайте,,,,,
479,5,142,manager,Ну до свидания хорошего вечера,,,,,

In [128]:
# проверка на Nan
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   dlg_id    480 non-null    int64
 1   line_n    480 non-null    int64
 2   role      480 non-null    object
 3   text      480 non-null    object
 4   greeting  480 non-null    object
 5   farewell  480 non-null    object
 6   name      480 non-null    object
 7   company   480 non-null    object
 8   kpi       480 non-null    object
dtypes: int64(2), object(7)
memory usage: 33.9+ KB

In [11]:
# создаем паттерны для обнаружения приветствия менеджера в его репликах
# паттерны включают группу синонимов, которые можно как сокращать, так и расширять, в зависимости от поставленных требований

greeting_pattern =  r'\bдобрый день\b|\bдобрый\b|\bдень добрый\b|\bприветствую вас\b|\bдоброе утро\b|\
                    \bдоброго утра\b|\bутро доброе\b|\bдоброе\b|\bутра доброго\b|\bдоброго\b|\
                    \bдобрый вечер\b|\bвечер добрый\b|\bмое почтение\b|\bздравия желаю\b|\
                    \bпочет и уважение\b|\bрад слышать\b|\bрад вас слышать\b|\bрад тебя слышать\b|\
                    \bнизкий поклон\b|\bпривет\b|\bприветик\b|\bздравствуй\b|\bздравствуйте\b|\
                    \bздорово\b|\bздорова\b|\bздарово\b|\bздарова\b|\bдоброго здоровья\b|\
                    \bприветствую\b|\bассаламу алейкум\b|\bва алейкум салам\b|\bва алейкум ассалям\b|\
                    \bссаляму алейкум\b|\bсалам\b|\bсалют\b|\bсалютик\b|\bздрасте\b|\bздрасьте\b|\
                    \bздрасти\b|\bздрасьти\b|\bстрасте\b|\bсалам орлы\b|\bшалом\b|\bшелом\b|\
                    \bс добрым утром\b|\bдоброго времени суток\b|\bдоброго времени\b|\bсаламчики\b|\
                    \bсаламчик\b|\bхелло\b|\bхелоу\b|\bхеллоу\b|\bхай\b|\bхаюшки\b|\bвелкам\b|\
                    \bйоу\b|\bбонжур\b|\bприветец\b|\bхола\b|\bхаляйки\b|\bпревед\b|\bмабухай\b|\
                    \bку\b|\bалоха\b'

In [12]:
# создаем паттерны для обнаружения прощания менеджера в его репликах
# паттерны включают группу синонимов, которые можно как сокращать, так и расширять, в зависимости от поставленных требований

farewell_pattern = r'\bдо свидания\b|\bдо свиданья\b|\bдо встречи\b|\bдо связи\b|\bпока\b|\
                    \bбывай\b|\bбудь здоров\b|\bбудьте здоровы\b|\bдо вечера\b|\bдо завтра\b|\
                    \bвсех благ\b|\bхорошего дня\b|\bхорошего утра\b|\bхорошего вечера\b|\
                    \bхороших выходных\b|\bприятных выходных\b|\bуспехов\b|\bвсего хорошего\b|\
                    \bудачи\b|\bвсего доброго\b|\bдо новых встреч\b|\bдо новой связи\b|\
                    \bвсего наилучшего\b|\bвсего лучшего\b|\bдо скорого\b|\bдо скорой встречи\b|\
                    \bдо скорой связи\b|\bсчастливо\b|\bувидимся\b|\bчесть имею\b|\
                    \bразрешите откланяться\b|\bпозвольте откланяться\b|\bразреши откланяться\b|\
                    \bпозволь откланяться\b|\bпозвольте попрощаться\b|\bпозволь попрощаться\b|\
                    \bразрешите попрощаться\b|\bразреши попрощаться\b|\bдо скорого свидания\b|\
                    \bдо скорого свиданья\b|\bсозвонимся\b|\bпересечемся\b|\bрад буду снова услышать\b|\
                    \bбуду рад снова услышать\b|\bбай\b|\bбай-бай\b|\bбай бай\b|\bчао\b|\
                    \bчесть имею кланяться\b|\bдо созвона\b|\bгуд бай\b|\bгуд-бай\b|\
                    \bауфидерзейн\b|\bариведерче\b|\bсайонара\b|\bата\b|\bадью\b|\bпокеда\b|\
                    \bпакеда\b|\bпакедова\b|\bпокедова\b|\bпокедово\b|\bуслышимся\b|\bреспект\b'

In [ ]:
# предусмотрет исключения или условие если реплик меньше 1 или там None!

In [16]:
# для обнаружения реплик с приветствием, именем менеджера и названием компании будем парсить только первые несколько реплик каждого диалога,
# во-первых потому-что данные реплики обязательно должны быть в самом начале диалога, во-вторых с целью сократить время и вычислительные мощности,
# аналогично для парсинга реплик с прощанием - поиск в последних двух репликах каждого диалога

# str_lower_begin - срез исходного фрейма по уловию "только первые реплики менеджера" для каждого диалога, весь текст приводим к нижнему регистру
str_lower_begin = df[(df.role == 'manager') & (df.line_n >= 0) & (df.line_n < 4)].text.str.lower()
# str_lower_end - срез исходного фрейма по уловию "только последние реплики менеджера" для каждого диалога, весь текст приводим к нижнему регистру
str_lower_end = df[(df.role == 'manager')].groupby('dlg_id', as_index = False)['text'].nth(n = [-2,-1]).str.lower()

In [38]:
# создаем булеву маску greet для всех реплик менеджера в соответствии с паттернами greeting_pattern (парсинг приветствия)
greet_mask = str_lower_begin.str.contains(greeting_pattern)
# получаем список индексов исходного фрейма, где обнаружено приветствие
index_greet_true = str_lower_begin[greet_mask].index
# в колонку greeting напротив обнаруженных реплик с приветствием записываем значение 'True'
df.loc[index_greet_true, 'greeting'] = 'True'

# аналогично с репликами прощаний
farewell_mask = str_lower_end.str.contains(farewell_pattern)
index_farewell_true = str_lower_end[farewell_mask].index
df.loc[index_farewell_true, 'farewell'] = 'True'

# демонстрация того, что получилось на данном шаге, для среза только с репликами приветствия и прощания
df[(df.greeting == 'True') | (df.farewell == 'True')]

,dlg_id,line_n,role,text,greeting,farewell,name,company,kpi
1,0,1,manager,Алло здравствуйте,True,,,,
108,0,108,manager,Всего хорошего до свидания,,True,,,
110,1,1,manager,Алло здравствуйте,True,,,,
162,1,53,manager,Угу да вижу я эту почту хорошо тогда исправлю ...,,True,,,
163,1,54,manager,До свидания,,True,,,
166,2,2,manager,Алло здравствуйте,True,,,,
250,3,1,manager,Алло дмитрий добрый день,True,,,,
251,3,2,manager,Добрый меня максим зовут компания китобизнес у...,True,,,,
300,3,51,manager,Угу все хорошо да понедельника тогда всего доб...,,True,,,
335,4,33,manager,Во вторник все ну с вами да тогда до вторника ...,,True,,,
479,5,142,manager,Ну до свидания хорошего вечера,,True,,,

In [122]:
# теперь заполняем колонку kpi (для тех диалогов, где было и приветствие и прощание указываем значение True, 
# в остальных случаях - False, значения заносятся напротив первой реплики менеджера, в каждом диалоге только одно значение)

# после того, как колонки greeting и farewell заполнены группируем фрейм по диалогам (индексы фрейма - это номера диалогов),
# агреггирем так, что бы для каждой группы вывести значения greeting и farewell (ниже результат продемонстрирован выводом на экран kpi_check)
kpi_check = df[df.role == 'manager'][['dlg_id', 'greeting', 'farewell']].groupby(['dlg_id'], as_index = False)[['greeting', 'farewell']].max()
kpi_check

   dlg_id greeting farewell
0       0     True     True
1       1     True     True
2       2     True
3       3     True     True
4       4              True
5       5              True

In [123]:
# создаем и выводим на экран маску для значений колонки kpi
kpi_mask = ((kpi_check.greeting == 'True') & (kpi_check.farewell == 'True'))
kpi_mask

0     True
1     True
2    False
3     True
4    False
5    False
dtype: bool

In [124]:
# в переменную kpi_index сохраняем индексы исходного фрейма, которые соответствуют всем первым репликам менеджера в каждом диалоге
# по этим индексам будем записывать значения в колонку kpi
kpi_index = df[df.role == 'manager'].groupby('dlg_id', as_index = False).nth(n = [0]).index
kpi_index

Int64Index([1, 110, 166, 250, 305, 338], dtype='int64')

In [126]:
# заполняем колонку kpi и выводим результат для демонстрации
df.loc[kpi_index, 'kpi'] = kpi_mask.to_list()
df[df.kpi != '']

,dlg_id,line_n,role,text,greeting,farewell,name,company,kpi
1,0,1,manager,Алло здравствуйте,True,,,,True
110,1,1,manager,Алло здравствуйте,True,,,,True
166,2,2,manager,Алло здравствуйте,True,,,,False
250,3,1,manager,Алло дмитрий добрый день,True,,,,True
305,4,3,manager,Вот по виду платежи пообщаться помните мы вот ...,,,,,False
338,5,1,manager,Да это анастасия,,,,,False

In [129]:
# приступаем к части парсинга имени менеджера и названия компании
# создаем объект morph как экземпляр класса pymorphy2.MorphAnalyzer() для морфологического анализа слов
morph = pymorphy2.MorphAnalyzer()

In [131]:
# создаем список "стоп-слов", которые могут быть в репликах менеджера с представлением компании, данные слова будут учавствовать в формировании паттернов для регулярных выражений
# список включают группу синонимов, которые можно как сокращать, так и расширять, в зависимости от поставленных требований

stop_key = ['компания', 'компанию', 'компании', 'компаний', 'магазина', 'магазин',
            'магазинов', 'организация', 'организацию', 'организации', 'организаций', 
            'общество', 'предприятия', 'предприятие', 'предприятий', 'фирма',
            'фирму', 'фирмы', 'фирм', 'холдинг', 'агентство', 'агентства','агентств']

In [132]:
# создаем паттерны для фильтрации реплик менеджера, в которых может содержаться название компании
# паттерны включают группу синонимов, которые можно как сокращать, так и расширять, в зависимости от поставленных требований

patterns_filters = [r'\bможно вас\b', r'\bя звоню\b', r'\bмы звоним\b', r'\bзвоню\b',
                    r'\bзвоним\b', r'\bудобно сейчас\b', r'\bудобно говорить\b',
                    r'\bвам сейчас удобно\b', r'\bсейчас удобно говорить\b',
                    r'\bвам удобно говорить\b', r'\bвы можете\b', r'\bвам удобно сейчас\b',
                    r'\bвы сейчас можете\b', r'\bвы можете говорить\b', r'\bпожалуйста\b',
                    r'\bне могли бы вы\b', r'\bмогли бы вы\b', r'\bкогда вам\b',
                    r'\bкогда удобно\b', r'\bмогу я\b', r'\bя могу\b',
                    r'\bменя зовут\b', r'\bслушаю вас\b', r'\bзовут меня\b', r'\bмое имя\b',
                    r'\bмы с вами\b', r'\bя с вами\b', r'\bс вами говорит\b',
                    r'\bмоя фамилия\b', r'\bзайму у вас\b', r'\bдобрый день\b',
                    r'\bдень добрый\b', r'\bприветствую вас\b', r'\bдоброе утро\b',
                    r'\bдоброго утра\b', r'\bутро доброе\b', r'\bутра доброго\b',
                    r'\bдобрый вечер\b', r'\bвечер добрый\b', r'\bмое почтение\b',
                    r'\bрад слышать\b', r'\bрад вас слышать\b', r'\bрад тебя слышать\b',
                    r'\bздравствуйте\b', r'\bприветствую\b', r'\bздрасте\b',
                    r'\bздрасьте\b', r'\bздрасти\b', r'\bздрасьти\b', r'\bэто\b',
                    r'\bс добрым утром\b', r'\bдоброго времени суток\b', r'\bя ваш',
                    r'\bваш', r'\bя прошу', r'\bпрошу', r'\bя вас', r'\bя хочу', r'\bхочу']

In [179]:
# определяем функцию для парсинга имени компании, на вход функции подается реплика менеджера (text), которую необходимо проверить,
# возможную длину названия компании ограничим тремя элементами
def get_company_name(text):
  all_result = [] # здесь будут храниться имена компаний
  result = 'no name' # исходное значение для названия компании
  for f in stop_key: # итерация по списку стоп-слов, каждое из которых подставляется в паттерны для парсинга названия компании
    if re.findall(r'\b'+f+'\\b$', text) == [] and re.findall(r'\b'+f+'\\b', text) != []: # если паттерн с стоп-словом найден и этим стоп-слово не заканчивается реплика, то продолжаем

      if re.findall(r'(\b'+f+'\\b\s+\S+\s+да?и?\s+\S+\s+)(.+)', text) != []: # если найден паттерн после стоп-слова содержащий два элемента разделенные частицами "да" или "и", то это название компании
        result = re.findall(r'(\b'+f+'\\b\s+\S+\s+да?и?\s+\S+\s+)(.+)', text)[0][0].strip()
      else:
        first_parse = re.findall(r'(\b'+f+'\\b\s+\S+\s+)(.+)', text) # парсим первый элемент(слово или что-то другое) следующий сразу после стоп-слова, и парсим все, что следует за этим первым элементом
        second_parse = first_parse[0][1] # сохраняем строку, которая следует после первого элемента для ее дальнейшей фильтрации, анализа
        # first_parse[0][0] - первый элемент уже будет первой частью названия компании (или единственная его часть)
        #print(first_parse)
        #print(second_parse)

        for i in patterns_filters: # итерация по списку паттернов-фильтров
          pre_result = re.search(i, second_parse) # сохраненную ранее строку second_parse фильтруем от элементов, которые не могут быть частью названия компании
          if pre_result != None:
            #print(pre_result)
            start_del_index = pre_result.span()[0]
            #print(start_del_index)
            second_parse = second_parse[:start_del_index]
            #print(second_parse)

        second_parse_list = second_parse.split() # из отфильтрованной в предыдущем блоке строки формируем список элементов, разделенных пробелами
        if len(second_parse_list) != 0:
          check_name = second_parse_list[0]
          p = morph.parse(check_name)[0]
          # первый элемент этого списка сначало проверяем на морфологию, 
          # если это имя собственное в именителььном падеже, то это слово и все, 
          # что правее отскаем и берем за результат только первое слово, следующее за стоп-словом
          if ('Name' in p.tag) and ('nomn' in p.tag): 
            result = first_parse[0][0].strip()
          else:
            if len(second_parse_list) >= 2: # если в списке больше одного элемента, то проверяем морфологию двух перых элементов, остальные элементы не берем для анализа
              # грамеммы для второго слова из нашего списка сохраняем в переменную "p",
              # далее проверка нескольких возможных комбинаций двух слов из нашего списка для отсечения тех, которые не могут быть частью названия компании,
              # например, "добрый день, компания ЧИП менеджер Иван", или, "здравствуйте, магазин ДЕСТКИЙ МИР Иван", аналогично предыдущему блоку морфология по имени и падежу
              p = morph.parse(second_parse_list[1])[0]
              if ((second_parse_list[0] == 'менеджер' or second_parse_list[0] == 'я') and\
                  ('Name' in p.tag) and ('nomn' in p.tag)) or (second_parse_list[0] == 'я' and\
                                                               second_parse_list[1] == 'менеджер'):
                result = first_parse[0][0].strip() # если соответствия не нужным комбинациям были обнаружены, то в результат уходит только первый элемент после стоп-слова
              elif ('Name' in p.tag) and ('nomn' in p.tag): # проверяем второе слово из нашего списка на имя собственное и иминительный падеж (считается, что такая форма на третье позиции не может входить в название компании)
                result = first_parse[0][0]+second_parse_list[0] # тогда берем в результат только первый элемент после стоп-слова и первый элемент из нашего списка
              else:
                result = first_parse[0][0]+second_parse_list[0]+' '+second_parse_list[1] # иначе в результат берем все три элемента, это максимальная заданная нами длина названия компании
            else:
              result = first_parse[0][0]+second_parse_list[0] # если в нашем списке только один элемент, то конкатерируем его с первым элементов после стоп-слова, это и будет результатом
        else:
          result = first_parse[0][0].strip() # если наш список пуст, то в качестве названия компании берем только первый элемент после стоп-слова
    all_result.append(result) # аппендим все возможные названия компаний (потому что малая доля вероятности обнаружения нескольких паттернов в одной реплике всеже остается)
  return set(all_result) # результат обертываем множеством, чтобы избавиться от дублей

In [180]:
# вызовем функцию для первых реплик менеджера из каждого диалога, для промежуточной демонстрации работы функции
company_name = str_lower_begin.apply(get_company_name)
company_name

1                       {no name}
3      {компания диджитал бизнес}
110                     {no name}
111    {компания диджитал бизнес}
112                     {no name}
166                     {no name}
167    {компания диджитал бизнес}
250                     {no name}
251         {компания китобизнес}
305                     {no name}
338                     {no name}
340                     {no name}
Name: text, dtype: object

In [196]:
# заполним колонку company и продемонстрируем результат, 
# заполнять будем позиции только напротив тех реплик, 
# где обнаружено название компании, остальные позиции оставим пустыми
company_mask = company_name != {'no name'}
f_lambda = lambda x: list(x)
final_company_name = company_name[company_mask].apply(f_lambda)
df.loc[final_company_name.index, 'company'] = final_company_name
df[df.company != ''] # демонстрация результатов по срезу только для диалогов, где обнаружены названия компаний

,dlg_id,line_n,role,text,greeting,farewell,name,company,kpi
3,0,3,manager,Меня зовут ангелина компания диджитал бизнес з...,,,,[компания диджитал бизнес],
111,1,2,manager,Меня зовут ангелина компания диджитал бизнес з...,,,,[компания диджитал бизнес],
167,2,3,manager,Меня зовут ангелина компания диджитал бизнес з...,,,,[компания диджитал бизнес],
251,3,2,manager,Добрый меня максим зовут компания китобизнес у...,True,,,[компания китобизнес],

In [198]:
# создаем паттерны для обнаружения имени менеджера в его репликах
# паттерны включают группу синонимов, которые можно как сокращать, так и расширять, в зависимости от поставленных требований

patterns_get_name = [r'\bменя зовут\s+?\b\w{3,}\b\s*?(?:\s+\w{3,}\s*?)?(?:\s+\w{3,}\s?)?',
                     r'\bменя\s+?\b\w{3,}\b\s*?(?:\s+\w{3,}\s*?)?(?:\s+\w{3,}\s?)?',
                     r'\bзовут\s+?\b\w{3,}\b\s*?(?:\s+\w{3,}\s*?)?(?:\s+\w{3,}\s?)?',
                     r'\bя\s+?\b\w{3,}\b\s*?(?:\s+\w{3,}\s*?)?(?:\s+\w{3,}\s?)?',
                     r'\bэто\s+?\b\w{3,}\b\s*?(?:\s+\w{3,}\s*?)?(?:\s+\w{3,}\s?)?',
                     r'\bмое имя\s+?\b\w{3,}\b\s*?(?:\s+\w{3,}\s*?)?(?:\s+\w{3,}\s?)?',
                     r'\bмоя фамилия\s+?\b\w{3,}\b\s*?(?:\s+\w{3,}\s*?)?(?:\s+\w{3,}\s?)?',
                     r'\bс вами говорит\s+?\b\w{3,}\b\s*?(?:\s+\w{3,}\s*?)?(?:\s+\w{3,}\s?)?',
                     r'\bкомпания\s+?\b\w{3,}\b\s*? (?:и \b\w{3,}\b)?((?:\s*?\w{1,}\s*?)?(?:\s+\w{1,}\s*?)?(?:\s+\w{1,}\s?)?)',
                     r'\bменеджер\s+?\b\w{3,}\b\s*?(?:\s+\w{3,}\s*?)?(?:\s+\w{3,}\s?)?',
                     r'\bмагазин\s+?\b\w{3,}\b\s*? (?:и \b\w{3,}\b)?((?:\s*?\w{1,}\s*?)?(?:\s+\w{1,}\s*?)?(?:\s+\w{1,}\s?)?)',
                     r'\bмагазина\s+?\b\w{3,}\b\s*? (?:и \b\w{3,}\b)?((?:\s*?\w{1,}\s*?)?(?:\s+\w{1,}\s*?)?(?:\s+\w{1,}\s?)?)',
                     r'\bкомпании\s+?\b\w{3,}\b\s*? (?:и \b\w{3,}\b)?((?:\s*?\w{1,}\s*?)?(?:\s+\w{1,}\s*?)?(?:\s+\w{1,}\s?)?)']

In [201]:
# определяем функцию для парсинга имени менеджера, на вход функции подаем реплику менеджера
def get_name(k):
  name = 'no name' # значение имени по умолчанию 
  for m in patterns_get_name: # итерация по списку паттернов
    result = re.findall(m, k) # поиск вхождений паттернов в реплику
    if result != []: # если вхождение есть, то создаем пустой список для добавления имени
      name = []
      for i in result: # итерация по списку обнаруженных вхождений
        n = i.split()  # каждый элемент списка (элемент списка это строка) переводим в список по признаку пробельного символа
        for h in n: # анализируем каждый элемент полученного списка по морфологии, если имя собственное, фамилия и(или) отчество, то это результат
          p = morph.parse(h)[0]
          if any(['Name' in p.tag, 'Surn' in p.tag, 'Patr' in p.tag]):
            name.append(p.word)
        if len(name) >= 1: # если хотябы один элемент имени обнаружен, то прекращаем итерацию обнаруженных вхождений
          break
      if len(name) >= 1: # если хотябы один элемент имени обнаружен, то прекращаем итерацию по списку паттернов
        break
  return name

In [202]:
# вызовем функцию для первых реплик менеджера из каждого диалога, для промежуточной демонстрации работы функции
manager_name = str_lower_begin.apply(get_name)
manager_name

1          no name
3       [ангелина]
110        no name
111     [ангелина]
112        no name
166        no name
167     [ангелина]
250        no name
251       [максим]
305        no name
338    [анастасия]
340        no name
Name: text, dtype: object

In [203]:
# заполним колонку name и продемонстрируем результат, 
# заполнять будем позиции только напротив тех реплик, 
# где обнаружено имя менеджера, остальные позиции оставим пустыми
manager_mask = manager_name != 'no name'
final_manager_name = manager_name[manager_mask]
df.loc[final_manager_name.index, 'name'] = final_manager_name
df[df.name != ''] # демонстрация результатов по срезу только для диалогов, где обнаружены имена менеджеров

,dlg_id,line_n,role,text,greeting,farewell,name,company,kpi
3,0,3,manager,Меня зовут ангелина компания диджитал бизнес з...,,,[ангелина],[компания диджитал бизнес],
111,1,2,manager,Меня зовут ангелина компания диджитал бизнес з...,,,[ангелина],[компания диджитал бизнес],
167,2,3,manager,Меня зовут ангелина компания диджитал бизнес з...,,,[ангелина],[компания диджитал бизнес],
251,3,2,manager,Добрый меня максим зовут компания китобизнес у...,True,,[максим],[компания китобизнес],
338,5,1,manager,Да это анастасия,,,[анастасия],,False

In [229]:
# данный парсинг не претендует на безупречность, можно потрать еще время и доработать алгоритмы, повысить точность параметрического линейного программирования,
# при наличии большой базы данных можно попробовать решить данную задачу нейронными сетями с предобученными векторами, напр.. из Word2Vec.

# финальная демонстрация полученной базы с результатми парсинга:
df[(df['greeting'] != '') | (df['farewell'] != '') | (df['name'] != '') | (df['company'] != '') | (df['kpi'] != '')]

,dlg_id,line_n,role,text,greeting,farewell,name,company,kpi
1,0,1,manager,Алло здравствуйте,True,,,,True
3,0,3,manager,Меня зовут ангелина компания диджитал бизнес з...,,,[ангелина],[компания диджитал бизнес],
108,0,108,manager,Всего хорошего до свидания,,True,,,
110,1,1,manager,Алло здравствуйте,True,,,,True
111,1,2,manager,Меня зовут ангелина компания диджитал бизнес з...,,,[ангелина],[компания диджитал бизнес],
162,1,53,manager,Угу да вижу я эту почту хорошо тогда исправлю ...,,True,,,
163,1,54,manager,До свидания,,True,,,
166,2,2,manager,Алло здравствуйте,True,,,,False
167,2,3,manager,Меня зовут ангелина компания диджитал бизнес з...,,,[ангелина],[компания диджитал бизнес],
250,3,1,manager,Алло дмитрий добрый день,True,,,,True
251,3,2,manager,Добрый меня максим зовут компания китобизнес у...,True,,[максим],[компания китобизнес],
300,3,51,manager,Угу все хорошо да понедельника тогда всего доб...,,True,,,
305,4,3,manager,Вот по виду платежи пообщаться помните мы вот ...,,,,,False
335,4,33,manager,Во вторник все ну с вами да тогда до вторника ...,,True,,,
338,5,1,manager,Да это анастасия,,,[анастасия],,False
479,5,142,manager,Ну до свидания хорошего вечера,,True,,,